<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel | Login to use</title>
  <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>

<body>

<h1><img src="./img/logo.svg"> Contriboard <small>Admin Panel</small></h1>
<h2>Login to use</h2>

</body>

</html>